*{
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    background: #1d2226;
    color: #c6ced5;
}

.header_item{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    cursor: pointer;
}

.header_item:hover{
    background-color: #fff;
    color: #000;
}

/*first_sect*/

.resumen{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.span_name{
    color: grey;
}

.form_text{
    font-weight: bolder;
    place-self: center;
}

.first_sect{
    display: grid;
    grid-template-columns: 1fr;
    border-right: solid 1px #cdcdcd;
}

.modificar_cliente{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 18px;
    padding: 0px 5px 0px 5px;
}

.form_item{
    padding: 7px;
    border: none;
    outline: none;
    border-bottom: 1px solid;
}

.head{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin-bottom: 15px;
}

.act_des{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.submit{
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 15px;
    box-shadow: 3px 3px 5px gray;
    place-self: center;
    border-radius: 23px;
    font-weight: bolder;
}

.submit:hover{
    background: #fff;
    color: #000;
    font-weight: bolder;
}

/*end first_sect*/

/*second_sect*/
.div_second_sect{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.zona_peligrosa, .zona_union, .zona_conducta{
    border: solid 1px red;
    width: fit-content;
    padding: 15px;
    margin-top: 15px;
}

.zona_peligrosa_p{
    display: inline;
}

.eliminar_cliente, .unir_clientes{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}

.unir_b{
    background: #000;
    color: #fff;
    border: solid 1px;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
}

.unir_b:hover{
    background: #fff;
    color: #000;
}
.eliminar_cliente:hover{
    background-color: #b32331;
}

.servicios_header, .servicios_item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.servicios_header{
    padding: 15px;
    background-color: #000;
    color: #fff;
    font-family: ui-monospace;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.servicios_item{
    margin-left: 15px;
    margin-right: 15px;
    border: solid 1px;
    border-top: none;
    padding: 5px;
    text-align: center;
    row-gap: 10px;
}

#select_servicios{
    margin: 15px;
    padding: 15px;
    width: max-content;
}

.servicio{
    margin: 8px;
}

.boton_pago, .boton_borrar, .ser_mas{
    color: #fff;
    background-color: #212529;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #fff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}

.boton_pago:hover{
    background-color: #ffffff;
    color: #000;
    border: solid 1px #000;
}

.boton_borrar{
    background-color: #dc3545;
}

.boton_borrar:hover{
    background-color: #911622;
}

.head_sec_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
}

.mas{
    font-size: large;
}
/*end secod_sect*/

/*facturacion*/
.facturacion, .header_facturacion{
    display: grid;
    grid-template-columns: 2% 5% 5% 5% 6% 1fr 5% 6% 6% 5% 6% 4% 5% 3% 3% 3% 4% 3%;
    justify-items: center;
    align-items: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.header_facturacion{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #000;
    color: #fff;
    font-family: ui-monospace;
    margin-top: 15px;
    font-size: small;
    text-align: center;
}

.facturacion{
    text-align: center;
    font-size: small;
    margin-bottom: 10px;
    border-bottom: solid 1px;
    border-bottom: 1px solid #919191;
}

.eliminar_pago{
    width: 35px;
    cursor: pointer;
}

.no_ult{
    filter: grayscale(1);
}
/*end facturacion*/

/* unir clientes */
#sel_cliente {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.boton_union {
    background-color: #000;
    color: #fff;
    border: solid 1px;
    border-radius: 5px;
    cursor: pointer;
}

.boton_union:hover {
    background-color: #fff;
    color: #000;
}

.input_unir {
    background-color: #5e5d5d;
    border: none;
    border-radius: 5px;
    text-align: initial;
    color: #fff;
}

.input_unir::placeholder {
    color: #fff;
}
/* Fin de unir clientes*/

/* Sistema de conducta*/
.contenedor_conducta{
    background-color: rgb(29 29 30);
    color: #fff !important;
    border-radius: 10px;
    padding: 10px;
}

.conducta, .titulo_conducta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 39px;
    margin: 13px;
}

.titulo_conducta{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.estrellita{
    position: absolute;
    top: 32%;
    left: 45%;
    width: 50px;
}

.label_conducta{
    cursor: pointer;
}
/* Fin del sistema de conducta*/
#iptv, #tipo_c {
    background: rgb(45 47 49);
    border: solid 1px rgb(255 255 255 / 10%);
    border-radius: 5px;
    color: #fff;
}